*{ 
  margin: 0;
  padding: 0;
}


#banner{
  background: url(./T&D\ Style\ Pantry\ Project\ Picture/BlackandGoldMarble-CrackedBackgroundImage.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; 
  
}


/* .logo{
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
} */
