*{ 
  margin: 0;
  padding: 0;
}


#banner{
  background: url(images/gold-foil-splatter-with-white-frame-on-a-black-background-vector.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; 
  
}


.logo{
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
}
